.statistic__item{
  max-width: 416px;
  padding: 23px 0 18px 0;
}
.item{
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid #8C9CAF;
}
.item__number{
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #31343E;
}
.item__number-description{
  font-family: var(--secondary-ff);
  font-weight: 400;
  color: #595A61;
  margin-top: 8px;
  word-spacing: -3px;
}